/*
 Theme Name: Frost Child
 Template: frost
*/


@media (max-width: 768px) {
    .wp-block-navigation {
        display: none;
    }

    .my-mobile-menu-button {
        display: block;
    }
}

/* Animerad underline för nav länkar */
.wp-block-navigation a {
    position: relative;
    text-decoration: none;
}

.wp-block-navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0%;
    height: 2px;
    background: #9b880c; 
    transition: width 200ms ease;
}

.wp-block-navigation a:hover::after,
.wp-block-navigation a:focus-visible::after {
    width: 100%;
}

.wp-block-navigation a {
    transition: color 200ms ease;
}

