<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)">
  <!-- wp:post-title {"level":1} /-->

  <!-- wp:post-featured-image /-->

  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

  <!-- wp:post-date /-->

  <!-- wp:post-terms {"term":"category"} /-->

  <!-- wp:post-terms {"term":"post_tag"} /-->

  <!-- wp:separator {"opacity":"css"} -->
  <hr class="wp-block-separator has-css-opacity"/>
  <!-- /wp:separator -->

  <!-- wp:post-navigation-link {"type":"previous"} /-->

  <!-- wp:post-navigation-link /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
